<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add a Transaction
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add a Transaction</ion-title>
    </ion-toolbar>
  </ion-header>

  

  <form > 
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="Description" name="Description" id="Description"  label-placement="floating"  label="Enter Transaction Description"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input [(ngModel)]="Amount" id="Amount" name="Amount" label="Amount"  label-placement="floating"  type="number"></ion-input>
      </ion-item>
    
      
    
      <ion-item>
        Date:   
        <ion-datetime-button datetime="Datetime"></ion-datetime-button>
    
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime name="Datetime" [(ngModel)]="Datetime" id="Datetime"></ion-datetime>
      </ng-template>
    </ion-modal>
      </ion-item>
    
      
    </ion-list>

    
  </form>
  <ion-button (click)="addTransaction()" >Add</ion-button>
</ion-content>
