<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List of Transactions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">List of Transactions</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Transaction Title</ion-card-title>
      <ion-card-subtitle>Transaction description</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Amount: US$3.00  Date: 2023/01/02 02:14
    </ion-card-content>
  </ion-card>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
